@import "tailwindcss";


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px) translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }
}
html {
  scroll-behavior: smooth;
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease forwards;
}

/* BUZZ */
@keyframes buzz {
  0%,100% { transform: translateX(0); }
  20% { transform: translateX(-2px); }
  40% { transform: translateX(2px); }
  60% { transform: translateX(-2px); }
  80% { transform: translateX(2px); }
}
.animate-buzz {
  animation: buzz 0.3s linear infinite;
}

/* WOBBLE */
@keyframes wobble {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-3deg); }
  50% { transform: rotate(3deg); }
  75% { transform: rotate(-3deg); }
  100% { transform: rotate(0deg); }
}
.animate-wobble {
  animation: wobble 0.6s ease-in-out infinite;
}

/* POP */
@keyframes pop {
  0% { transform: scale(1); }
  50% { transform: scale(1.12); }
  100% { transform: scale(1); }
}
.animate-pop {
  animation: pop 0.4s ease-in-out;
}

/* SWIPE SHIMMER */
@keyframes swipe {
  0% { background-position: -200% 0; }
  100% { background-position: 200% 0; }
}
.animate-swipe {
  animation: swipe 1.2s linear infinite;
}

.bg-swipe {
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255,255,255,0.6),
    transparent
  );
  background-size: 200% 100%;
}

