@import "tailwindcss";


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px) translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }
}
html {
  scroll-behavior: smooth;
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease forwards;
}
